<div class="gastro-container">
    <header>
        <h1>Gastronomia en las peñas</h1>        
        <p>
            En las peñas podemos encontrar un diverso de negocios que están situadas en las casas, se ofrecen distintas
            comidas extrangeras o de la zona.
        </p>
    </header>
        
        <div class="gastro-container-list">
            <div class="gastro-container-list-items">
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/beef-bahn.jpg" class="gastro-container-list-item-img" alt="Kung Po Prawns">
                        <h3 class="gastro-container-list-item-title">Kung Po Prawns</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/chocolate-fudge.jpg" class="gastro-container-list-item-img" alt="Hot chocolate Fudge">
                        <h3 class="gastro-container-list-item-title">Hot chocolate Fudge</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/chicken-karaage.jpg" class="gastro-container-list-item-img" alt="Chicken Karaage">
                        <h3 class="gastro-container-list-item-title">Chicken Karaage</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/moussaka.jpg" class="gastro-container-list-item-img" alt="Moussaka">
                        <h3 class="gastro-container-list-item-title">Moussaka</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/christmas-cake.jpg" class="gastro-container-list-item-img" alt="Christmas Cake">
                        <h3 class="gastro-container-list-item-title">Christmas Cake</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/french-onion.jpg" class="gastro-container-list-item-img" alt="French Onion Soup">
                        <h3 class="gastro-container-list-item-title">French Onion Soup</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/mediterranean-pasta.jpg" class="gastro-container-list-item-img"
                            alt="Mediterranean Salad">
                        <h3 class="gastro-container-list-item-title">Mediterranean Salad</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/lamb-potato-pie.jpg" class="gastro-container-list-item-img" alt="Lamb Potato Pie">
                        <h3 class="gastro-container-list-item-title">Lamb Potato Pie</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/pancakes.jpg" class="gastro-container-list-item-img" alt="Pancakes">
                        <h3 class="gastro-container-list-item-title">Pancakes</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/ratatouille.jpg" class="gastro-container-list-item-img" alt="Ratatouille">
                        <h3 class="gastro-container-list-item-title">Ratatouille</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/chivito.jpg" class="gastro-container-list-item-img" alt="Chivito uruguayo">
                        <h3 class="gastro-container-list-item-title">Chivito uruguayo</h3>
                    </a>
                </article>
                <article class="list-item">
                    <a href="">
                        <img src="/src/assets/images/comidas/lamb-peka.jpg" class="gastro-container-list-item-img" alt="Croatian Lamb Peka">
                        <h3 class="gastro-container-list-item-title">Croatian Lamb Peka</h3>
                    </a>
                </article>
            </div>
        </div>
  
</div>