<div class="uoc-container">
    <picture>
      <source srcset="./assets/images/entradaLasPenas.jpg?as=webp&width=350" type="image/webp" />
      <img src="./assets/images/entradaLasPenas.jpg?width=350" alt="Las Penas Guayaquil Ecuador hito calle de la colina santa Anna" class="uoc-logo" />
    </picture>
    <h1 class="uoc-title"><i class="fas fa-university"></i>Las Peñas (Guayaquil - Ecuador) Su historia</h1>
    <p>
        Las Peñas es un barrio emblemático de la ciudad de Guayaquil. Es reconocido por su estilo arquitectónico colonial y por ser el lugar donde nació la ciudad. Se encuentra ubicado en las faldas del Cerro Santa Ana y su nombre se debe justamente a la cantidad de peñascos que poseía el cerro1​ al momento en que los españoles se asentaron allí, en el siglo XVI.2​
    </p>
    <p>
        En sus inicios era hogar principalmente de pescadores y artesanos, pero a partir del boom cacaotero de los años 20, el sector fue poco a poco ocupado por hacendados acaudalados, los que construyeron la mayoría de las casas de estilo aristocrático que hoy en día se encuentran en el sitio.
    </p>
    <p>
        El barrio es atravesado por la calle Numa Pompilio Llona, bautizada así por el Municipio de la ciudad en 1912.1​ En 1982 fue declarado patrimonio cultural del Ecuador,3​ principalmente por las casas que se ubican en el sector, algunas con más de cien años de antigüedad.4
    </p>

</div>