<div class="uoc-container">
    <picture>
      <source srcset="./assets/images/logo.png?as=webp&width=350" type="image/webp" />
      <img src="./assets/images/logo.png?width=350" alt="Universitat Oberta de Catalunya" class="uoc-logo" />
    </picture>
    <h1 class="uoc-title"><i class="fas fa-university"></i>Las Peñas (Guayaquil)</h1>
    <p>
      Cuna de la estabilidad territorial de la zona y da origen a la Perla del Pacifico, conocida hoy como  Santiago de Guayaquil.
    </p>
    <p>Ubicado en el Cerro Santa Ana, es el barrio más antiguo de la ciudad de Guayaquil, considerado como un icono patrimonial de la ciudad, este lugar especial por su encanto colorido que explaya sus casas y rincones.</p>
    <p>Mientras se va subiendo por sus 465 escaleras se puede admirar galerías de arte, así como disfrutar de la tradicional gastronomía en sus restaurantes o disfrutar de unos momentos de tranquilidad tomando un café y simplemente divertirse en sus bares.</p>
    <p>También existen sitios de recreación y plazas para el descanso de quienes la visitan y se puede llegar hasta la cima para disfrutar del bello panorama que muestra la ciudad.</p>
</div>