<div class="uoc-container">
    <picture>
      <source srcset="./assets/images/logo.png?as=webp&width=350" type="image/webp" />
      <img src="./assets/images/logo.png?width=350" alt="Universitat Oberta de Catalunya" class="uoc-logo" />
    </picture>
    <h1 class="uoc-title"><i class="fas fa-university"></i>Las Peñas (Guayaquil)</h1>
    <p>
    Las Peñas:: es un barrio emblemático de la ciudad de Guayaquil. Es reconocido por su estilo arquitectónico colonial y por ser el lugar donde nació la ciudad. Se encuentra ubicado en las faldas del Cerro Santa Ana y su nombre se debe justamente a la cantidad de peñascos que poseía el cerro
    </p>
</div>