<main>
    <div class="video-container">
        <header>
            <h1>Videos Barrio las peñas</h1>
            <p>Videos del ambiente en el barrio las peñas en los fines de semana o dias feriados en guayaquil.
            </p>
        </header>

        <div class="video-grid-container">
            <article class="video-grid-item-video">
                <div class="video-fluid">
                    <iframe class="video-fluid-item" width="560" height="315" 
                        src="https://www.youtube.com/embed/3yYVxQxqezg" title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                </div>
                <h2>Las Peñas, el barrio más antiguo de Guayaquil</h2>
                <p>El barrio las eñas es e barrio más antiguo de la ciudad de Guayaquil, es de ahi donde nace la ciudad de hace cientos de años</p>
            </article>
            <article class="video-grid-item-video">
                <div class="video-fluid">
                    <iframe class="video-fluid-item" width="560" height="315"
                        src="https://www.youtube.com/embed/rVDftilsnSY" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe class="video-fluid-item" width="560" height="315" 
                        src="https://www.youtube.com/embed/iGbNu0vUXgk" title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                </div>
                <h2>Anécdotas y Tradiciones del Barrio Las Peñas de Guayaquil</h2>
                <p>El  Barrio Las Peñas es un barrio emblemático de Guayaquil - Ecuador, fue declarado como Patrimonio Cultural en 1982, por ser el conjunto urbano arquitectónico más representativo de principios del siglo. Es un recuerdo del siglo XVI, lugar donde nació Guayaquil</p>
            </article>
            <article class="video-grid-item-video">
                <div class="video-fluid">
                    <iframe class="video-fluid-item" width="560" height="315" 
                        src="https://www.youtube.com/embed/7LrLlkebhg4" title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                </div>
                <h2>HISTORIA DE GUAYAS Y QUIL resumen de 5 minutos</h2>
                <p>Al rio lo mancharon con la sangre de mis hermanos, me llevo a Quil para que me acompañe a la tierra del Sol" El cacique guayas expreso esas palabras antes de morir.</p>
            </article>
            <article class="video-grid-item-video">
                <div class="video-fluid">
                    <iframe class="video-fluid-item" width="560" height="315" 
                        src="https://www.youtube.com/embed/pGBifxLGqLI" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>                        
                </div>
                <h2>QUÉ HACER EN GUAYAQUIL, MALECÓN 2000, BARRIO LAS PEÑAS Y MÁS</h2>
                <p>Seguiendo un recorrido por Ecuador y esta vez por la costa, Guayaquil nos da la bienvenida, conocida como la Perla del Pacífico, recorrimos los lugares más turísticos y también hicimos nuevas amistades. </p>
            </article>
            <article class="video-grid-item-video">
                <div class="video-fluid">
                    <iframe class="video-fluid-item" width="560" height="315" 
                        src="https://www.youtube.com/embed/5CEPCy3L_ug" title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h2>Mirador y Barrio Las Peñas hace 15 años</h2>
                <p>Mirador, Faro y Barrio las Peñas de Guayaquil, donde puedes realizar un paseo con la familia y apreciar la vista de la ciudad de guayquil, el video fue grabado hace ya 15 años.</p>
            </article>
            <article class="video-grid-item-video">
                <div class="video-fluid">
                    <iframe class="video-fluid-item" width="560" height="315" 
                        src="https://www.youtube.com/embed/9TfdOJG0KsQ" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h2>Recorrido por "CERRO LAS PEÑAS" en Guayaquil- Ecuador</h2>
                <p>Este barrio conserva su arquitectura de estilo colonial. Subir los 444 es un gran desafío que vale la pena por toda la belleza y paisaje que puedes observar.</p>
            </article>
        </div>
    </div>
</main>