/************************************************************
Css para pagina de video
*************************************************************/
.video-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  
}

/*------------------------------------*\
  #header
\*------------------------------------*/

header {
  h1, p {
    text-align: center;
  }
} 

/*------------------------------------*\
  #video-grid-container
\*------------------------------------*/

.video-grid-container {
  margin-bottom: 50px;
}

/*------------------------------------*\
  #video-grid-item-video
\*------------------------------------*/

  .video-grid-container .video-grid-item-video {
    margin-bottom: 24px;
    background-color: white;
  }

    .video-grid-container .video-grid-item-video p {
      margin-bottom: 0;
      padding: 0 15px 15px 15px;      
    }

      .video-grid-container .video-grid-item-video h2 {
        padding: 15px 15px 0 15px;
        font-size: 1.2rem;        
        text-transform: uppercase;        
      }


        @media (min-width: 768px) {
          .video-grid-container {
            display: grid;
            grid-gap: 24px;
            grid-template-columns: 1fr 1fr;            
            }
        }

/*------------------------------------*\
  #video-fluid
\*------------------------------------*/

.video-fluid {
  display: block;
  position: relative;  
  width: 100%;
  padding: 0;
  overflow: hidden;
}

/*------------------------------------*\
  #video-fluid-item
\*------------------------------------*/

  .video-fluid-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

/*------------------------------------*\
  #video-fluid::before
\*------------------------------------*/

    .video-fluid::before {
      content: "";
      display: block;      
      padding-top: 56.25%;
    }